@import url('https://fonts.googleapis.com/css2?family=Syne:wght@700&display=swap');
/* Import de la font Syne depuis Google Fonts et on l'applique sur tous les éléments de la page */

/**************** HEADER ****************/

#site-header.sticky-top {
    position: sticky;
    z-index: 10;
    top: 0;
    background-color: white;
}

.site-header {
    padding-block-start: 0 !important;
    padding-block-end: 0 !important;
    padding-inline-end: 0 !important;
  }

 li.menu-item a {
    color: #000000 !important;
    background-color: white;
    text-align: center;
    font-family: 'Syne', sans-serif;
    font-weight: 700;
    font-size: 20px;
 }

 li.menu-item.menu-item-32 {
    display: block;
    
}

li.menu-item.menu-item-32 a {
    display: block;
    background-color: #DC9F96;
    color: #fff !important;
    height: 135%; 
    width: 100%
}

li.menu-item.menu-item-32 :hover{
    display: block;
    background-color: #C02E44; 
    color: #fff !important;
    align-items: center;
    height: 135%;
    width: 100%;
}

/* Lien Admin */
.admin-link {
    color: #000000;
    text-align: center;
    font-family: 'Syne', sans-serif;
    font-weight: 700;
    font-size: 20px;
  }

/**************** BODY ****************/

 h1 {
    color: #3B8E46;
    text-align: center;
    font-family: 'Syne', sans-serif;
    font-size: 38px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
    background-color: #ECE2DA;
 }

 .elementor-13 .elementor-element.elementor-element-351d4b4 {
    margin-inline-start: 0 !important;
 }

/**************** FORMULAIRE "NOUS CONTACTER" ****************/

/* Contact Form 7 Input CSS */

.wpcf7-form input[type="text"],
.wpcf7-form input[type="email"],
.wpcf7-form input[type="textarea"],
textarea {
	font-size: 36px;
	background-color:white;
	border: none;
	width: 100%;
	padding: 10px;
}
	
/* Label Font Size */

label {
	font-size: 21px;
	font-weight: 600;
	padding-bottom: 10px;
}

/* Contact Form 7 Submit Button CSS */

.wpcf7-form input[type="submit"] {
	font-family: syne;
	background-color: #E0B9B4;
	color: white;
	font-size: 15px;
	font-weight: 400;
	border: none;
    display: block;
    margin: auto;
}

/**************** FORMULAIRE "COMMANDER" ****************/

input.wpcf7-form-control.wpcf7-text {
    font-size: 36px;
}

.row {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.col {
    display: flex;
    justify-content: space-around;
    width: 4%;  
    margin-bottom: 50px;  
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form-separator {
    border-top: 2px solid white;
    margin-top: 10px;
    margin-bottom: 20px;
}

.row-1{
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
}

.row-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between ;
    font-family: 'Syne', sans-serif;
    color: #fff;
}

.col-1,.col-2 {
    width: 45%;
    
}

.elementor-kit-17 label {
    font-family: syne;
    font-size: 18px;
    color: #fff;
    padding-bottom: 15px;
    margin-bottom: 25px; 
}

.separator {
    position: absolute;
    border-left: 2px solid white;
    height: 55%;    
    right: 50%;
}


/**************** FOOTER ****************/

li.menu-item.menu-item-43 a {
    color: black !important;
    background-color: white;
    text-align: center;
    font-family: 'Syne', sans-serif;
    font-weight: 700;
    font-size: 20px;
}

.site-footer {
    padding-block-start: 0 !important;
    padding-block-end: 0 !important;
  }