@import url('https://fonts.googleapis.com/css2?family=Syne:wght@700&display=swap');
/* Import de la font Syne depuis Google Fonts et on l'applique sur tous les éléments de la page */

/**************** HEADER ****************/

.site-header {
    height: 75px;
    padding-inline-end: 0 !important; 
    margin-top: -16px;
    margin-bottom: 12px;
  }

 .menu-item a {
    text-align: center;
    line-height: normal;    
    width: 200px;
    padding-bottom: 30px !important;
    padding-top: 26px !important;  
 }


 #menu-item-33 {
  margin-right: -20px;
 }

.menu-item.menu-item-32, 
.menu-item.menu-item-32 a {
  display: block;
  height: 100%;
  width: 230px;
  background-color: #DC9F96;
  color: #fff !important;
}

.menu-item.menu-item-32 :hover {
  background-color: #C02E44;
  color: #fff !important;
}

/* Lien Admin */
.admin-link {
    color: #000000;
    text-align: center;
    font-family: 'Syne', sans-serif;
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
    line-height: normal;
    margin-right: -30px;
  }

/**************** BODY ****************/

 h1 {
    color: #3B8E46;
    text-align: center;
    font-family: 'Syne', sans-serif;
    font-size: 38px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
    background-color: #ECE2DA;
 }

/**************** FORMULAIRE "NOUS CONTACTER" ****************/

/* Contact Form 7 Input CSS */

.wpcf7-form input[type="text"],
.wpcf7-form input[type="email"],
.wpcf7-form input[type="textarea"],
textarea {
	font-size: 36px;
	background-color:white;
	border: none;
	width: 100%;
	padding: 10px;
}

/* Label Font Size */

.wpcf7-form label{
	font-family: Syne;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* Contact Form 7 Submit Button CSS */

.wpcf7-form input[type="submit"] {
	font-family: syne;
	background-color: #E0B9B4;
	color: white;
	font-size: 15px;
	font-weight: 400;
  font-style: normal;
  line-height: 37px;
  display: block;
  margin: auto;
  width: 198px;
  height: 55px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

/**************** FORMULAIRE "COMMANDER" ****************/

input.wpcf7-form-control.wpcf7-text {
    font-size: 36px;
}

.row {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.col {
    display: flex;
    justify-content: space-around;
    width: 45px;  
    margin-bottom: 50px;  
}

/*supprime les flèches des boutons d'incrémentation des champs */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form-separator {
    border-top: 2px solid white;
    margin-top: 10px;
    margin-bottom: 20px;
}

.row-1{
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
}

.row-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between ;
    font-family: 'Syne', sans-serif;
    color: #fff;
}

.row-2 label{
  color: #fff;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.col-1,.col-2 {
    width: 45%; 
}

.elementor-kit-17 label {
    font-family: syne;
    padding-bottom: 15px;
}

.wpcf7-form-control, .wpcf7-text{
  margin-top: 15px;
}

.separator {
    position: absolute;
    border-left: 2px solid white;
    height: 60%;    
    right: 50%;
}

.form-mobile {
  text-align: center;
  width: 90%;
  padding-left: 40px;
  color: #fff;
}

.form-mobile input::placeholder {
  color: #888; /* Couleur du texte du placeholder */
  font-style: italic;
}

/**************** FOOTER ****************/

li.menu-item.menu-item-43 a {
    color: black !important;
    background-color: white;
    text-align: center;
    font-family: 'Syne', sans-serif;
    font-weight: 700;
    font-size: 16px;
    font-style: normal;
    line-height: normal;
    width: 100%;
    margin-top: 1px;
}

.site-footer {
  padding-block-start: 0 !important;
} 

#site-footer {
  margin-top: 0;
  padding-bottom: 0;
}